<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b>Comedian List</b>
      </a>
    </p>

    <!--create-->
    <p class="navbar-text pull-right">
      <a (click)="create()"  class="navbar-link">
        <span class="glyphicon glyphicon-plus"></span>
      </a>
    </p>

  </div>
</nav>

<div class="container">

  <ul class="list-group">
    <li *ngFor="let comedian of comedians" class="list-group-item li-border-true rounded">
      <a (click)="edit(comedian)">
        <p><b>{{comedian.username}}</b></p>
      </a>
    </li>
  </ul>

</div>

<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a (click)="profile()" class="navbar-link">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>
  </div>
</nav>
