<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b>{{username}}'s Profile</b>
      </a>
    </p>

    <!--logout-->
    <p class="navbar-text pull-right">
      <a (click)="logout()"  class="navbar-link">
        <span class="glyphicon glyphicon-off"></span>
      </a>
    </p>

  </div>
</nav>

<div class="container">
  <img width="10%" [src]="url | safe">
  <a (click)="flickr()"  class="navbar-link">
    <b>Change Profile Picture!</b>
  </a>

  <ul class="list-group">
    <li class="list-group-item">
      <a (click)="account()"  class="navbar-link">
        <b>Account</b>
      </a>
    </li>

    <li class="list-group-item">
      <a (click)="review()"  class="navbar-link">
        <b>Reviews</b>
      </a>
    </li>

    <li class="list-group-item">
      <a (click)="search()"  class="navbar-link">
        <b>Check out your favorite Comics!</b>
      </a>
    </li>
  </ul>
</div>

<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a (click)="profile()" class="navbar-link">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>
  </div>
</nav>
